# Ignore Python virtual environments
.venv/

# Ignore raw and processed datasets
dataset/
dataset_processed/
videos/

# Ignore model weights
api.py

# Ignore generated mapping/scaler files
class_mapping.npy
feature_scaler.pkl

# Ignore any large zip files
*.zip

# Ignore MediaPipe's font file
font.ttf